.DeviceList {
	border-right: 1px solid lightgray;
	padding: 0;
	
	height: 100%;
	overflow-y: auto;
}

.DeviceList .entry {
	padding: 0.1em 1em;
	display: block;
}

.DeviceList .entry.selected {
	background-color: #007bff;
	color: white;
	display: inline-block;
	border-radius: 1em;
}

.DeviceList .search {
	position: sticky;
	top: 0;
	padding: 1em;
	padding-bottom: 0;
	background-color: rgba(255, 255, 255); /*, 0.8);*/
	margin-bottom: 0.5em;
	z-index: 1;
	box-shadow: 0 0.5em 0.75em white;
}

.DeviceList .search input {
	width: 100%;
}

.DeviceList a:hover {
	text-decoration: none;
}

.DeviceList ul {
	list-style-type: none;
	padding-left: 1em;
	user-select: none;
}

.DeviceList .expander-arrow {
	display: inline-block;
	margin-right: 0.25em;
	color: gray;
	transition: all 0.2s;
	text-align: center;
}

.DeviceList .expander-arrow:before {
	content: "\025B6";
}

.DeviceList .expander-arrow.expanded {
	transform: rotate(90deg);
	z-index: -1;
}

.DeviceList.has-search .expander-arrow {
	display: none;
}

.DeviceList ul li {
	cursor: pointer;
}

.DeviceList .loading {
	color: gray;
	margin: 0.5em;
	animation: DeviceList_loading 1s ease-in;
}

.DeviceList .limited {
	margin-top: 0.5em;
	margin-left: 1em;
	margin: 0.5em 1.25em; 
	font-size: small;
	animation: DeviceList_limited 1s cubic-bezier(1, 0, 0.5,1); /* This adds a small delay, so that the text doesn't blink when typing quickly */
}

@keyframes DeviceList_loading {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes DeviceList_limited {
    from { opacity: 0; }
    to   { opacity: 1; }
}
