.text-row {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.output {
  text-align: center;
  font-size: 12px;
}

.file-name-wrapper {
  font-style: italic;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

.link-view {
  font-style: italic;
  font-size: 12px;
  color: #1a73e8;
  cursor: pointer;
}

.link-view:hover {
  color: #174ea6;
}

.modal-inner {
  z-index: 1;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.file-view-body {
  max-height: 450px;
  overflow: auto;
}

/*
.upload-div {
  display: 'inline-grid';
  margin-right: '10px';
}

.file-name-wrapper {
  font-style: italic;
  font-size: 12px;
  margin-left: 2px;
  margin-right: 5px;
}

.link-view {
  color: #1a73e8;
  cursor: pointer;
}

.link-view:hover {
  color: #174ea6;
}

.taranta-btn {
  margin-left: 5px;
  min-width: 80px;
  min-height: 30px;
}



.file-upload-label-container {
}
*/
