.alarm-indicator {
    background-image: url('https://taranta-image-hosting.skao.int/CREAM/alarm.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    white-space: pre-wrap;
}
@keyframes blink {
    0% {
    opacity: 1;
    }
    50% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
  }

  /* Apply blinking animation to elements */
  #AlarmIndicator .blinking {
    animation: blink 2s infinite; /* Blinks every 2 second */
  }
  #AlarmIndicator .LibraryWidget .svg-container {
    width: 100%; /* Make container responsive */
    max-width: 500px; /* Optional max width */
    height: auto; /* Optional, or set a fixed height if desired */
  }

  #AlarmIndicator .svg-container svg {
    width: 100%; /* Ensure SVG fills container */
    height: auto; /* Maintain aspect ratio */
  }