.warning-div-lib {
    width: 30px;
    height: 30px;
    background-color: #a94442;
    margin-top: -28px;
    margin-left: 236px;
    position: absolute;
    border-radius: 15px;
}

.warning-div-lib:hover {
    opacity: 0.6;
    cursor: pointer;
}

.span-icon-lib {
    margin-left: 7px;
    margin-top: 6px;
    color: white;
}

.warning-div-dash {
    width: 30px;
    height: 30px;
    background-color: #a94442;
    margin-top: -23px;
    margin-left: -32px;
    position: fixed;
    border-radius: 15px;
}

.warning-div-dash:hover {
    opacity: 0.6;
    cursor: pointer;
}

.span-icon-dash {
    margin-left: 7px;
    margin-top: 6px;
    color: white;
}