/*[data-model] {
    transition: all 1s;
    transform-origin: 50% 50%;
}
[data-model]:hover {
    transform: scale(1.2);
}
*/
.tooltip_svg {
    pointer-events: none;
    position: absolute;
    padding: 3px;
    background: rgba(0,0,0,0.8);
    color: white;
    /* overflow-x: auto; */
    /* max-width: 100px; */
    
}

.tooltip_svg .model {
    font-weight: bold;
    color: white;
    white-space: pre-wrap;
}

.tooltip_svg .value {
    font-weight: bold;
    color: white;
}
